---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import { getCollection } from "astro:content";
import { Util } from "../classes/util";

const _series = await getCollection("series");
const _movies = await getCollection("movies");
const _recomendados_ids = {
  series: [
    "adventure-time-fionna-&-cake",
    "bee-and-puppycat-lazy-in-space",
    "gravity-falls",
    "historias-corrientes",
    "las-maravillosas-desventuras-de-flapjack",
  ],
  movies: [
    "pokémon-la-película",
    "star-wars.-episodio-iii-la-venganza-de-los-sith",
    "silent-hill",
    "jujutsu-kaisen-0",
  ],
};
const _recomendados_series = await getCollection("series", ({ data }) => {
  return _recomendados_ids["series"].includes(data.id);
});
const _recomendados_movies = await getCollection("movies", ({ data }) => {
  return _recomendados_ids["movies"].includes(data.id);
});

const recomendados = [..._recomendados_series, ..._recomendados_movies].sort(
  () => Math.random() - 0.5
);

const series = Util.obtenerValoresAleatorios(_series, 15);
const movies = Util.obtenerValoresAleatorios(_movies, 15);

//? Me equivoqué en el formato de imagen XD
//* reemplazar "posters" por "portadas"
//* reemplazar "backgrounds" por "fondos"
---

<Layout title="Moonieflix">
  <Navbar />
  <main class="w-screen px-6 py-6">
    <!-- Recomendados -->
    <section class="w-full h-fit mt-4 mb-10">
      <h1 class="font-montserrat font-semibold text-2xl text-neutral-100">
        Recomendado
      </h1>
      <div id="ProjectSlider" class="swiper w-full max-h-96 h-96 my-2">
        <ul class="swiper-wrapper" data-cursor="swipe">
          {
            recomendados.map((recomendado: any) => {
              const { data } = recomendado;
              // const { tipo, nombre, año, generos } = data;
              const {
                id,
                tipo,
                nombre,
                año,
                temporadas,
                poster,
                background,
                duracion,
                generos,
              } = data;

              return (
                <li class="swiper-slide w-full h-full">
                  <section class="flex items-end justify-start w-full h-full relative">
                    <div class="absolute w-full h-full">
                      <img
                        class="w-full h-full object-cover"
                        src={background}
                        alt=""
                      />
                      <section class="absolute top-0 w-full h-full bg-black bg-opacity-30 z-10" />
                    </div>
                    <div class="flex px-6 z-20 w-full bg-black bg-opacity-75 py-4">
                      <img class="w-28 h-40 object-cover" src={poster} alt="" />
                      <section class="flex flex-col mx-4">
                        <h1 class="text-neutral-100 text-xl font-nunito">
                          {nombre}
                        </h1>
                        {tipo == "serie" ? (
                          <span class="text-neutral-300 text-sm font-nunito">
                            Emisión {año} | {temporadas.length} temporada(s)
                          </span>
                        ) : (
                          <span class="text-neutral-300 text-sm font-nunito">
                            Emisión {año} | Duración {duracion}
                          </span>
                        )}
                        <span class="text-neutral-200 font-nunito">
                          {generos.join(", ")}
                        </span>
                        <section class="w-full flex items-center mt-4">
                          <a href={`/${tipo.replace('pelicula', 'movie')}/${id}`} target="_blank">
                            <div class="w-32 bg-indigo-600 rounded-sm py-1 font-nunito text-center text-neutral-100 font-semibold cursor-pointer hover:bg-indigo-500 transition-all">
                              Ver ahora
                            </div>
                          </a>
                          <div class="w-8 h-8 mx-2 hover:bg-red-500 hover:text-slate-200 hover:border-red-400 cursor-pointer bg-slate-200 rounded-sm border border-slate-200 flex items-center justify-center transition-all">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="1em"
                              height="1em"
                              viewBox="0 0 24 24"
                            >
                              <path
                                fill="currentColor"
                                d="M16.5 3C19.538 3 22 5.5 22 9c0 7-7.5 11-10 12.5C9.5 20 2 16 2 9c0-3.5 2.5-6 5.5-6C9.36 3 11 4 12 5c1-1 2.64-2 4.5-2m-3.566 15.604a27 27 0 0 0 2.42-1.701C18.335 14.533 20 11.943 20 9c0-2.36-1.537-4-3.5-4c-1.076 0-2.24.57-3.086 1.414L12 7.828l-1.414-1.414C9.74 5.57 8.576 5 7.5 5C5.56 5 4 6.657 4 9c0 2.944 1.666 5.533 4.645 7.903c.745.593 1.54 1.146 2.421 1.7c.299.189.595.37.934.572c.339-.202.635-.383.934-.571"
                              />
                            </svg>
                          </div>
                        </section>
                      </section>
                    </div>
                  </section>
                </li>
              );
            })
          }
        </ul>
      </div>
    </section>

    <!-- Series recomendadas -->
    <div class="my-16">
      <h1 class="font-montserrat font-semibold text-2xl text-neutral-100">
        Series Recomendadas
      </h1>
      <section class="max-w-full overflow-x-auto overflow-y-hidden h-72">
        <div class="flex items-center audiovisual-content w-max my-4">
          {
            series.map((serie: any) => {
              const { data } = serie;
              const { id, nombre, poster, temporadas } = data;

              return (
                <a href={`/serie/${id}`} target="_blank">
                  <section class="group relative hover:scale-105 transition-all cursor-pointer mx-2 first:mr-2 last:ml-2 min-h-64 max-h-64 border-slate-950 shadow-md rounded-md">
                    <div>
                      <img
                        class="w-36 h-48 object-contain"
                        src={poster.replace("posters", "portadas")}
                        alt=""
                      />
                      <section class="hidden group-hover:flex flex-col items-center justify-center font-nunito text-slate-100 absolute bg-black bg-opacity-50 w-36 h-48 top-0 left-0 z-20">
                        <div class="flex items-center justify-center bg-black bg-opacity-70 rounded-full w-16 h-16">
                          <svg
                            class="w-10 h-10"
                            xmlns="http://www.w3.org/2000/svg"
                            width="1em"
                            height="1em"
                            viewBox="0 0 24 24"
                          >
                            <path
                              fill="currentColor"
                              d="M8 18.392V5.608L18.226 12zM6 3.804v16.392a1 1 0 0 0 1.53.848l13.113-8.196a1 1 0 0 0 0-1.696L7.53 2.956A1 1 0 0 0 6 3.804"
                            />
                          </svg>
                        </div>
                        <span>Reproducir</span>
                      </section>
                    </div>
                    <div class="flex flex-col items-start max-w-32 mt-1 px-2">
                      <h3 class="text-slate-100 text-base max-w-32 font-semibold font-nunito truncate">
                        {nombre}
                      </h3>
                      <span class="text-slate-300 font-nunito text-sm">
                        {temporadas.length} temporada(s)
                      </span>
                    </div>
                  </section>
                </a>
              );
            })
          }
        </div>
      </section>
    </div>

    <!-- Películas recomendadas -->
    <div class="my-16">
      <h1 class="font-montserrat font-semibold text-2xl text-neutral-100">
        Películas Recomendadas
      </h1>
      <section class="max-w-full overflow-x-auto overflow-y-hidden h-72">
        <div class="flex items-center audiovisual-content w-max my-4">
          {
            movies.map((movie: any) => {
              const { data } = movie;
              const { id, nombre, poster, duracion } = data;

              return (
                <a href={`/movie/${id}`} target="_blank">
                  <section class="group relative hover:scale-105 transition-all cursor-pointer mx-2 first:mr-2 last:ml-2 min-h-64 max-h-64 border-slate-950 shadow-md rounded-md">
                    <div>
                      <img
                        class="w-36 h-48 object-contain"
                        src={poster.replace("posters", "portadas")}
                        alt=""
                      />
                      <section class="hidden group-hover:flex flex-col items-center justify-center font-nunito text-slate-100 absolute bg-black bg-opacity-50 w-36 h-48 top-0 left-0 z-20">
                        <div class="flex items-center justify-center bg-black bg-opacity-70 rounded-full w-16 h-16">
                          <svg
                            class="w-10 h-10"
                            xmlns="http://www.w3.org/2000/svg"
                            width="1em"
                            height="1em"
                            viewBox="0 0 24 24"
                          >
                            <path
                              fill="currentColor"
                              d="M8 18.392V5.608L18.226 12zM6 3.804v16.392a1 1 0 0 0 1.53.848l13.113-8.196a1 1 0 0 0 0-1.696L7.53 2.956A1 1 0 0 0 6 3.804"
                            />
                          </svg>
                        </div>
                        <span>Reproducir</span>
                      </section>
                    </div>
                    <div class="flex flex-col items-start max-w-32 mt-1 px-2">
                      <h3 class="text-slate-100 text-base max-w-32 font-semibold font-nunito truncate">
                        {nombre}
                      </h3>
                      <span class="text-slate-300 font-nunito text-sm">
                        Duración {duracion}
                      </span>
                    </div>
                  </section>
                </a>
              );
            })
          }
        </div>
      </section>
    </div>
  </main>
</Layout>

<script>
  import "swiper/css";
  import Swiper from "swiper";
  import { register } from "swiper/element/bundle";
  register();

  const swiper = new Swiper("#ProjectSlider", {
    // Setup
    loop: false,
    autoplay: false,
    grabCursor: false,
    mousewheel: false,
  });
</script>
