---
import { getCollection } from "astro:content";

const series = await getCollection("series");
const movies = await getCollection("movies");
const data = [...series, ...movies];
---

<main class="w-full relative h-20 bg-slate-950 flex items-center justify-center">
    <a class="absolute left-0" href="/">
        <section class="px-6">
            <svg class="w-10 h-10 fill-slate-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 121.6 121.6">
                <g>
                  <path
                    d="M30,108.785c9,4.601,19.1,7,29.2,7.2c0.5,0,1.1,0,1.6,0c10.2,0,20.3-2.2,29.5-6.6c8.399-4,16-10,21.601-17.5
                    c6.399-8.601,9.699-18.9,9.699-29.601c0-6.8,0-13.5,0-20.3c0-7.4,0-14.7,0-22.1c0-2.6,0-5.2,0-7.7c0-4.7-4.699-7.8-9-6.1l-22.8,9.5
                    c-1.5,0.6-3.2,0.7-4.7,0.1c-7.4-2.9-15.6-4.4-24.3-4.4s-16.9,1.6-24.3,4.4c-1.5,0.6-3.2,0.5-4.7-0.1L9,6.385c-4.3-1.8-9,1.4-9,6.1
                    c0,3.5,0,7.1,0,10.6c0,7.3,0,14.6,0,22c0,6.2,0,12.3,0,18.5c0,9.9,3.2,19.5,8.9,27.5C14.3,98.585,21.7,104.585,30,108.785z
                     M83,62.485c5.5,0,10,4.5,10,10s-4.5,10-10,10s-10-4.5-10-10C73,66.886,77.5,62.485,83,62.485z M38.6,62.485c5.5,0,10,4.5,10,10
                    s-4.5,10-10,10s-10-4.5-10-10C28.6,66.886,33.1,62.485,38.6,62.485z"></path>
                </g>
              </svg>
        </section>
    </a>
    <section class="w-full flex items-center justify-center">
        <div class="group text-slate-300 hover:text-slate-50 mx-2 cursor-pointer">
            <a href="/">
                <svg class="w-8 h-8 group-hover:hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M19 21H5a1 1 0 0 1-1-1v-9H1l10.327-9.388a1 1 0 0 1 1.346 0L23 11h-3v9a1 1 0 0 1-1 1M6 19h12V9.157l-6-5.454l-6 5.454z"/></svg>
                <svg class="hidden w-8 h-8 group-hover:flex" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M20 20a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-9H1l10.327-9.388a1 1 0 0 1 1.346 0L23 11h-3z"/></svg>
            </a>
        </div>
        <div class="group text-slate-300 hover:text-slate-50 mx-2 cursor-pointer">
            <svg class="w-8 h-8 group-hover:hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M12 20h8v2h-8C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10a9.96 9.96 0 0 1-2 6h-2.708A8 8 0 1 0 12 20m0-10a2 2 0 1 1 0-4a2 2 0 0 1 0 4m-4 4a2 2 0 1 1 0-4a2 2 0 0 1 0 4m8 0a2 2 0 1 1 0-4a2 2 0 0 1 0 4m-4 4a2 2 0 1 1 0-4a2 2 0 0 1 0 4"/></svg>
            <svg class="hidden w-8 h-8 group-hover:flex" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M18.001 20H20v2h-8C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10a9.99 9.99 0 0 1-3.999 8M12 10a2 2 0 1 0 0-4a2 2 0 0 0 0 4m-4 4a2 2 0 1 0 0-4a2 2 0 0 0 0 4m8 0a2 2 0 1 0 0-4a2 2 0 0 0 0 4m-4 4a2 2 0 1 0 0-4a2 2 0 0 0 0 4"/></svg>
        </div>
        <div data-collapsed="false" id="search_icon" class="flex items-center justify-center group fill-slate-200 text-slate-200 mx-2 cursor-pointer">
            <svg id="search_icon_icon" class="group-data-[collapsed='true']:hidden w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M11 2c4.968 0 9 4.032 9 9s-4.032 9-9 9s-9-4.032-9-9s4.032-9 9-9m0 16c3.867 0 7-3.133 7-7s-3.133-7-7-7s-7 3.133-7 7s3.133 7 7 7m8.485.071l2.829 2.828l-1.415 1.415l-2.828-2.829z"/></svg>
            <section id="searchBarBox" class="relative flex items-center justify-between h-8 w-0 group-data-[collapsed='true']:px-2 group-data-[collapsed='true']:bg-slate-800 group-data-[collapsed='true']:border-slate-900 rounded-md group-data-[collapsed='true']:w-44 transition-[width] duration-500">
                <svg id="closeSearchBox" class="text-slate-200 w-4 h-4 group-data-[collapsed='false']:hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M11 2c4.968 0 9 4.032 9 9s-4.032 9-9 9s-9-4.032-9-9s4.032-9 9-9m0 16c3.867 0 7-3.133 7-7s-3.133-7-7-7s-7 3.133-7 7s3.133 7 7 7m8.485.071l2.829 2.828l-1.415 1.415l-2.828-2.829z"/></svg>
                <input id="searchBar" class="focus:outline-none font-nunito mx-1 text-slate-200 caret-slate-400 bg-transparent w-0 group-data-[collapsed='true']:w-28 text-sm transition-[width] duration-1000" type="text" />
                <svg id="search" class="text-slate-200 w-4 h-4 group-data-[collapsed='false']:hidden" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M3.5 1.346a.5.5 0 0 1 .241.061l18.462 10.155a.5.5 0 0 1 0 .876L3.741 22.592A.5.5 0 0 1 3 22.154V1.846a.5.5 0 0 1 .5-.5M5 4.382V11h5v2H5v6.617L18.85 12z"/></svg>
            </section>
        </div>
        <div class="group text-slate-300 hover:text-slate-50 mx-2 cursor-pointer">
            <svg class="w-8 h-8 group-hover:hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M2 3.993A1 1 0 0 1 2.992 3h18.016c.548 0 .992.445.992.993v16.014a1 1 0 0 1-.992.993H2.992A.993.993 0 0 1 2 20.007zM4 5v14h16V5zm6.622 3.415l4.879 3.252a.4.4 0 0 1 0 .666l-4.88 3.252a.4.4 0 0 1-.621-.332V8.747a.4.4 0 0 1 .622-.332"/></svg>
            <svg class="hidden w-8 h-8 group-hover:flex" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M2 3.993A1 1 0 0 1 2.992 3h18.016c.548 0 .992.445.992.993v16.014a1 1 0 0 1-.992.993H2.992A.993.993 0 0 1 2 20.007zm8.622 4.422a.4.4 0 0 0-.622.332v6.506a.4.4 0 0 0 .622.332l4.879-3.252a.4.4 0 0 0 0-.666z"/></svg>
        </div>
        <div class="group text-slate-300 hover:text-slate-50 mx-2 cursor-pointer">
            <svg class="w-8 h-8 group-hover:hidden" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M3 4.995C3 3.893 3.893 3 4.995 3h14.01C20.107 3 21 3.893 21 4.995v14.01A1.995 1.995 0 0 1 19.005 21H4.995A1.995 1.995 0 0 1 3 19.005zM5 5v14h14V5zm2.972 13.18a10 10 0 0 1-1.751-.978A7 7 0 0 1 12.102 14c2.4 0 4.517 1.207 5.778 3.047a10 10 0 0 1-1.724 1.025A5 5 0 0 0 12.102 16c-1.716 0-3.23.864-4.13 2.18M12 13a3.5 3.5 0 1 1 0-7a3.5 3.5 0 0 1 0 7m0-2a1.5 1.5 0 1 0 0-3a1.5 1.5 0 0 0 0 3"/></svg>
            <svg class="hidden w-8 h-8 group-hover:flex" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M3 4.995C3 3.893 3.893 3 4.995 3h14.01C20.107 3 21 3.893 21 4.995v14.01A1.995 1.995 0 0 1 19.005 21H4.995A1.995 1.995 0 0 1 3 19.005zM6.357 18h11.49a6.99 6.99 0 0 0-5.745-3a6.99 6.99 0 0 0-5.745 3M12 13a3.5 3.5 0 1 0 0-7a3.5 3.5 0 0 0 0 7"/></svg>
        </div>
    </section>
</main>
<section id="searchResult" class="hidden w-full h-fit overflow-hidden items-center justify-center z-50">
    <ul id="searchResultContainer" class="overflow-y-auto z-50 px-2 py-2 rounded-sm space-y-1 first:mt-0 last:mb-0 flex flex-col absolute overflow-hidden top-16 w-1/4 max-w-[25%] max-h-64 bg-slate-900">
    </ul>
</section>
<script define:vars={{ data }}>
    let lastTimeTyped;
    let lastTimeInterval;
    let lastSearch = false;

    document.querySelector('#search_icon_icon')?.addEventListener('click', () => {
        const element = document.querySelector('#search_icon');
        if (element && element.dataset.collapsed == 'false') {
            element.dataset.collapsed = 'true';
            const searchbar = document.querySelector('#searchBar');
            if (searchbar) {
                searchbar.focus();
            }
        }
    });

    document.querySelector('#search')?.addEventListener('click', () => {
        const element = document.querySelector('#search_icon');
        if (element && element.dataset.collapsed == 'true') {
            element.dataset.collapsed = "false";
        }
    });

    document.querySelector('#closeSearchBox')?.addEventListener('click', () => {
        const element = document.querySelector('#search_icon');
        if (element && element.dataset.collapsed == 'true') {
            let el_c = document.querySelector('#searchResultContainer');
            el_c.innerHTML = '';
            let el = document.querySelector('#searchResult');
            el.classList.remove('flex');
            el.classList.add('hidden');
            element.dataset.collapsed = "false";
        }
    });

    document.querySelector('#searchBar').addEventListener('focus', () => {
        lastTimeInterval = setInterval(() => {
            if (!lastSearch) {
                let now = new Date().getTime();
                if (now - lastTimeTyped >= 1000) {
                    searchData();
                    lastSearch = true;
                }
            }
        }, 500);
    });

    document.querySelector('#searchBar').addEventListener('blur', () => {
        clearInterval(lastTimeInterval);
        lastTimeInterval = undefined;
        lastTimeTyped = undefined;
        setTimeout(() => {
            let el_c = document.querySelector('#searchResultContainer');
            el_c.innerHTML = '';
            let el = document.querySelector('#searchResult');
            el.classList.remove('flex');
            el.classList.add('hidden');
        }, 200)
    });

    document.querySelector('#searchBar').addEventListener('input', () => {
        lastTimeTyped = new Date().getTime();
        if (lastSearch) lastSearch = false;
    });

    function searchData() {
        let query = document.querySelector('#searchBar').value;
        let filtered_data = data.filter((item) => {
            let normalizedName = item.data.nombre.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
            return normalizedName.toLowerCase().includes(query.toLowerCase());
        });
        let el = document.querySelector('#searchResult');
        el.classList.remove('hidden');
        el.classList.add('flex');
        let el_c = document.querySelector('#searchResultContainer');
        let el_data = '';
        for (let x of filtered_data) {
            el_data += `
            <li class="w-full max-w-full bg-slate-800 rounded-sm cursor-pointer">
                <a class="flex w-full max-w-full h-fit" href="/${x.data.tipo.replace('pelicula', 'movie')}/${x.id}">
                    <img class="w-10 object-contain" src="${x.data.poster.replace('/resize/200', '').replace("posters", "portadas")}" alt="${x.data.nombre}" />
                    <div class="flex flex-col mx-1 text-sm max-w-full font-nunito truncate">
                        <h3 class="text-slate-200 max-w-full truncate">${x.data.nombre}</h3>
                        <span class="text-xs text-slate-500 capitalize">${x.data.tipo}</span>
                        <p class="text-slate-400 max-w-full truncate">${x.data.descripcion}</p>
                    </div>
                </a>
            </li>
            `;
        }
        el_c.innerHTML = el_data;
    }
</script>